/* https://www.linkedin.com/posts/lucaslimasz_mobile-frontend-css-activity-7145756695661625345-lyl9?utm_source=share&utm_medium=member_android */

:root {
  --bg: #010101;
  --fg: #fff;

  --nav-fg: var(--fg);
  --nav-bg: #171717;
  --nav-bg-active: #393939;

  --font: 1rem sans-serif;
  --border-radius: 2rem;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100svh;
  font: var(--font);
  background: var(--bg);
  color: var(--fg);
}

#app {
  max-width: 720px;
  margin: 1rem auto;
  @media(width < 720px) {
    margin: 1rem;
  }
}

canvas {
  display: block;
  margin: auto;
}

nav {
  display: flex;
  flex-direction: column;

  a {
    padding: 2rem;
    background: var(--nav-bg);
    color: var(--nav-fg);
    text-decoration: none;
    transition: all .2s;

    &:first-of-type {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    &:hover, &:active {
      background-color: var(--nav-bg-active);
    }
  }
}